Repository stimulusreflex/stimulus_reflex, pull requests merged in 2021-04, with the labels that each got.

#482 only run piggybacked operations after SR is finished, and isolate them
  app/channels/stimulus_reflex/channel.rb
  javascript/callbacks.js
  javascript/lifecycle.js
  javascript/reflexes.js
  lib/stimulus_reflex/broadcasters/broadcaster.rb
  lib/stimulus_reflex/broadcasters/page_broadcaster.rb
  lib/stimulus_reflex/cable_ready_channels.rb
  lib/stimulus_reflex/reflex.rb
  test/broadcasters/broadcaster_test_case.rb
  test/broadcasters/nothing_broadcaster_test.rb
  test/broadcasters/page_broadcaster_test.rb
  test/broadcasters/selector_broadcaster_test.rb
  test/reflex_test.rb
Labels: bug, javascript

#438 deprecation warnings (consumer, form serialization, isolation mode)
  javascript/deprecate.js
  javascript/reflexes.js
  javascript/schema.js
  javascript/stimulus_reflex.js
  javascript/transports/action_cable.js
  lib/tasks/stimulus_reflex/install.rake
Labels: deprecated, enhancement, javascript, proposal

#492 Stop adding whitespace when parsing our html
  lib/stimulus_reflex/broadcasters/broadcaster.rb
  lib/stimulus_reflex/broadcasters/page_broadcaster.rb
  lib/stimulus_reflex/broadcasters/selector_broadcaster.rb
  test/broadcasters/page_broadcaster_test.rb
  test/broadcasters/selector_broadcaster_test.rb
Labels: bug, enhancement, proposal, ruby
