Repository stimulusreflex/stimulus_reflex, pull requests merged in 2021-07, with the labels that each got.

#523 chore: add sideEffects false to make Webpack happy
  package.json
Labels: infrastructure, javascript, proposal

#505 Schema object with getters
  javascript/attributes.js
  javascript/callbacks.js
  javascript/controllers.js
  javascript/lifecycle.js
  javascript/log.js
  javascript/reflexes.js
  javascript/schema.js
  javascript/stimulus_reflex.js
  javascript/test/attributes.extractElementDataset.test.js
  javascript/utils.js
Labels: javascript, proposal, tests

#517 Optionally provide innerHtml and textContent on StimulusReflex::Element
  app/channels/stimulus_reflex/channel.rb
  javascript/reflex_data.js
  javascript/schema.js
  javascript/stimulus_reflex.js
  javascript/test/attributes.extractElementDataset.test.js
  javascript/test/reflexData.test.js
  lib/stimulus_reflex/element.rb
Labels: enhancement, javascript, proposal

#510 Improve install experience
  Gemfile.lock
  lib/generators/stimulus_reflex/templates/config/initializers/stimulus_reflex.rb
  lib/stimulus_reflex/configuration.rb
  lib/stimulus_reflex/utils/sanity_checker.rb
  lib/tasks/stimulus_reflex/install.rake
Labels: bug, infrastructure, ruby

#527 Specify form selector
  CHANGELOG.md
  javascript/reflex_data.js
  javascript/schema.js
  javascript/stimulus_reflex.js
Labels: javascript, proposal

#522 Morph stimulus reflex element AKA "single element page morph"
  Gemfile.lock
  lib/stimulus_reflex.rb
  lib/stimulus_reflex/broadcasters/selector_broadcaster.rb
  lib/stimulus_reflex/broadcasters/update.rb
  lib/stimulus_reflex/element.rb
  stimulus_reflex.gemspec
Labels: proposal, ruby
