Repository stimulusreflex/stimulus_reflex, pull requests merged in 2022-09, with the labels that each got.

#606 Declarative Reflexes Resiliency
  javascript/attributes.js
  javascript/reflexes.js
  javascript/schema.js
  javascript/stimulus_reflex.js
  javascript/test/attributes.attributeValue.test.js
  javascript/test/controllers.extractReflexName.test.js
  javascript/test/dummy/application.js
  javascript/test/dummy/application_controller.js
  javascript/test/dummy/example_controller.js
  javascript/test/reflexes.setupDeclarativeReflexesForElement.test.js
  javascript/test/utils.extractReflexName.test.js
  yarn.lock
Labels: bug, enhancement, javascript

#601 Introduce `StimulusReflex::HTML::Document`, featuring `Nokogiri::HTML5`
  lib/stimulus_reflex.rb
  lib/stimulus_reflex/broadcasters/broadcaster.rb
  lib/stimulus_reflex/broadcasters/page_broadcaster.rb
  lib/stimulus_reflex/broadcasters/selector_broadcaster.rb
  lib/stimulus_reflex/fragment.rb
  lib/stimulus_reflex/html/document.rb
  test/html/document_test.rb
Labels: bug, enhancement, ruby

#592 Refactor SR client package and introduce the Reflex class
  app/channels/stimulus_reflex/channel.rb
  javascript/app.js
  javascript/callbacks.js
  javascript/controllers.js
  javascript/isolation_mode.js
  javascript/lifecycle.js
  javascript/log.js
  javascript/process.js
  javascript/reflex.js
  javascript/reflex_data.js
  javascript/reflex_store.js
  javascript/reflexes.js
  javascript/scanner.js
  javascript/stimulus_reflex.js
  javascript/test/attributes.extractElementDataset.test.js
  javascript/test/reflexes.setupDeclarativeReflexesForElement.test.js
  javascript/transport.js
  javascript/transports/action_cable.js
  javascript/utils.js
  lib/generators/stimulus_reflex/templates/app/javascript/controllers/%file_name%_controller.js.tt
  lib/generators/stimulus_reflex/templates/app/javascript/controllers/application_controller.js.tt
  lib/generators/stimulus_reflex/templates/app/reflexes/%file_name%_reflex.rb.tt
  lib/generators/stimulus_reflex/templates/config/initializers/stimulus_reflex.rb
  lib/stimulus_reflex.rb
  lib/stimulus_reflex/broadcasters/broadcaster.rb
  lib/stimulus_reflex/cable_readiness.rb
  lib/stimulus_reflex/cable_ready_channels.rb
  lib/stimulus_reflex/reflex.rb
  lib/stimulus_reflex/reflex_data.rb
  lib/stimulus_reflex/reflex_factory.rb
  lib/stimulus_reflex/utils/logger.rb
  test/broadcasters/broadcaster_test_case.rb
  test/reflex_test.rb
Labels: enhancement, proposal, javascript
